<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT"></Console>

		<RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="[%d{dd MMM - HH:mm:ss} %level]: %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" level="info"/>
			<AppenderRef ref="File"/>
		</Root>
	</Loggers>
</Configuration>